<p id="notice">
  <%= notice %>
</p>

<% if current_user %>
 <h1>Hi, <%= current_user.email %>!</h1>
  <p>
    Welcome back!
    <%= link_to('Logout', logout_path) %>
  </p>
<% else%>
  <h1>Hi, guest!</h1>
  <p>
    Please <%= link_to('Login', login_path) %> or <%=link_to('Signup', signup_path) %>.
  </p>
<% end %>

